libreria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="programming_library">
 <xs:complexType>
 <xs:sequence>
 <xs:element name="language" minOccurs="3" maxOccurs="unbounded">
 <xs:complexType>
 <xs:sequence>
 <xs:element name="name" type="xs:string"/>
 <xs:element name="creator" type="xs:string"/>
 <xs:element name="year_created" type="xs:integer"/>
 <xs:element name="description" type="xs:string"/>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
</xs:schema>